<!-- Este codigo tiene la vista de la 3 seccion del formulario -->
<section class="form-content">
    <form [formGroup]="reactive_form">
        <h4>Sign In</h4>

        <h5>Pagina<span> 3</span> de 4</h5>

        <!-- En esta parte del codigo tenemos 3 contenedores MAT de angular material
             que se encargan de manejar el comportamiento de cada input 
        -->
        <mat-form-field class="content-inputs">
            <mat-label>Correo</mat-label>
            <input type="email" matInput formControlName="correo" required="" [class.is-invalid]="validar_correo">
        </mat-form-field>
        <!-- Validacion del formulario -->
        <small class="text-danger" *ngIf="validar_correo">Este campo es requerido</small>
    
        <mat-form-field class="content-inputs">
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput formControlName="contrasenia" required="" [class.is-invalid]="validar_contrasenia">
        </mat-form-field>
        <!-- Validacion del formulario -->
        <small class="text-danger" *ngIf="validar_contrasenia">Este campo es requerido</small>
        
        <mat-form-field class="content-inputs">
            <mat-label>Validar contraseña</mat-label>
            <input type="password" matInput formControlName="validar" [class.is-invalid]="validar_valid">
        </mat-form-field>
        <!-- Validacion del formulario -->
        <small class="text-danger" *ngIf="validar_valid">Este campo es requerido</small>

        <!-- Contenedor de los botonos de desplazamiento -->
        <div class="content-btn">
            <a [routerLink]="['/sect-two']" class="btn-link">Regresar</a>
            <a [routerLink]="['/sect-four']" class="btn-style" mat-raised-button color="primary" (click)="form_data()">Continuar</a>
        </div>

        <!-- Seccion de restauracion de la cuenta -->
        <pre>Olvidaste tu contraseña?<a href="#"> Ingresa aqui</a></pre>
        
        <hr>

        <!-- Contenedor de los iconos -->
        <div class="content-redes">
            <a href="#"><i class="fa fa-envelope"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
        </div>
    </form>
</section>
